<% include ../partials/header%>

<div class="container">
    <h1 class="forms-edit">Edit Comment</h1>
    <div style="width: 350px; margin: 0 auto">
    <form class="forms-edit_in" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <input type="text" name="comment[text]" class="form-control" id="exampleInput" value="<%= comment.text %>">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <a href="/campgrounds">Go Back</a>
    </div>
    
</div>



<% include ../partials/footer%>