body {
    padding: 0;
    margin: 0;
    margin-top: 85px;
}

.col-md-4 {
    width: 20% ;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
    margin-left: 10px;
}

.edit-delete {
    width: 70px;
}
.edit-delete-2 {
    width: 50px;
}

.forms-edit {
    text-align: center; 
    margin-top: 50px; 
    margin-bottom: 50px;
}

.fotms.edit_in {
    margin-bottom: 20px;
}

.comments-ED {
    margin-top: -25px;
    margin-bottom: 25px;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.btn-login {
    margin-top: 50px;
}